{% extends 'base.html' %}

{% block title %} My profile {% endblock %}

{% block content %}
  {% if profileFromUser == None %}
    <h1> Aucun profil existant !</h1>
  {% else %}
      <h4> Pseudo : {{ profileFromUser.username }}</h4>
      <p>Karma : {{ profileFromUser.karma }}</p>
      {% if profileFromUser.first_name|length >= 1 %}
        <p>Prenom : {{ profileFromUser.first_name }}</p>
      {% endif %}
      {% if profileFromUser.last_name|length > 0  %}
        <p>Nom : {{ profileFromUser.last_name }}</p>
      {% endif %}
      <p>Mail : {{ profileFromUser.email }}</p>
      <p>Date d'arrivée : {{ profileFromUser.date_joined }}</p>
      {% if profileFromUser.description_perso|length > 0 %}
        <p>Desciption : {{ profileFromUser.description_perso }}</p>
      {% endif %}
      <div id=update_profile>
        <button type="button" class="btn btn-outline-warning" onClick="location.href='{% url 'update profile'%}'">Modifier</button>
      </div>
  {% endif %}
{% endblock %}
