{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Project {{ projectId }} {% endblock %}

{% block content %}
  <div class="row">

    <div class="col-8 overflow-auto" id="last-project" style="border:3px solid #C78F2B; padding:15px 15px 15px 15px; height:25em">
      {% if project == None %}
      <h1>Error :(</h1>
      {% else %}
        {% include 'project_info.html' with project=project %}
      {% endif %}
    </div>

    <div class="col-4 overflow-auto" id="comments" style="border:3px solid #ABC87F; height:25em">
      <h3> Commentaires </h3>
      {% if projectComments == None %}
        <h1>No comment to show :(</h1>
      {% else %}
        {% for comment in projectComments %}
        {% include 'comment.html' with com=comment %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% if archive == True %}
  <div class="column">
    {% if formDonation == None %}
    <p> Connectez vous pour faire une donation !</p>
    {% elif projectOfConnectedUser == False %}
        {% if project.validated %}
          <form method="post" novalidate>
            {% csrf_token %}
            <h4> Ajouter une donation </h4>
            <div class="col-6">
              {{ formDonation.montant|as_crispy_field }}
            </div>
            <a href="/home"><button type="submit" name="donationForm" class="btn btn-outline-success"> Submit </button></a>
          </form>
        {% elif connectedUserCanValidate == True %}
          <div class="row">
            <div class="col-3"> <h4> Validation du projet </h4> </div>
            <div><button type="button" class="btn btn-outline-success" onClick="location.href='{% url 'validateproject' project.id %}'">Validate</button></div>
          </div>
        {% endif %}
    {% endif %}

    {% if formComment == None %}
    <p> Connectez vous pour faire un commentaire !</p>
    {% else %}
      <form method="post" novalidate>
        {% csrf_token %}
        <h4>Ajouter un commentaire</h4>
          <div class="col-6">
            {{ formComment.title|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ formComment.content|as_crispy_field }}
          </div>
        <a href="/home"><button type="submit" name="commentForm" class="btn btn-outline-success"> Submit </button></a>
      </form>
    {% endif %}

    {% if formNote == None %}
    <p> Connectez vous pour ajouter une note !</p>
    {% else %}
      {% if projectOfConnectedUser == False %}
        <form method="post" novalidate>
          {% csrf_token %}
          <h4>Ajouter une note</h4>
            <div class="col-6">
              {{ formNote.note|as_crispy_field }}
            </div>
          <a href="/home"><button type="submit" name="noteForm" class="btn btn-outline-success"> Submit </button></a>
        </form>
      {% endif %}
    {% endif %}
  </div>
  {% else %}
    <h4>Projet archivé, impossible d'effectuer une action.</h4>
  {% endif %}
{% endblock %}
