{% extends 'base.html' %}

{% block title %} Projects list {% endblock %}

{% block content %}

  <div class="column">
    <h6>Une idée? Créez votre projet !</h6>
    <div id=new_project>
      <button type="button" class="btn btn-outline-success" onClick="location.href='{% url 'New project'%}'">Nouveau projet</button>
    </div>
  </div>

  <div class="column">
    <h6>Recherche de projet</h6>
    <form class="col-md-6 col-md-offset-3" action="{% url 'search_in_projects' %}" method="get" accept-charset="utf-8">
      <span class="help-block" id="helpBlock">Trouvez un projet en tapant son titre ou le nom de son annonceur.</span>
      <div class="form-group">
        <input id="searchForm" name="query" class="form-control">
      </div>
      <a href="/home"><button type="submit" class="btn btn-outline-success"> Submit </button></a>
    </form>
  </div>

  <div class="column">
    <h6>Liste des projets</h6>
    <div class="row">
    		{% if projects == None %}
    			<h1> Aucun projet existant !</h1>
    		{% else %}
    			{% for project in projects %}
          <div class="col-4">
    				{% include 'project_card.html' with proj=project notNewDate=notNewDate %}
        	</div>
    			{% endfor %}
    		{% endif %}
    </div>
  </div>
{% endblock %}
