{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Modifier mon profil {{ profil.id }} {% endblock %}

{% block content %}
  <h4> Modification du profil </h4>
  <form method="post">
    {% csrf_token %}
      <div class="col-6">
        {{ profile_form.first_name|as_crispy_field }}
      </div>

      <div class="col-6">
        {{ profile_form.last_name|as_crispy_field }}
      </div>

      <div class="col-6">
        {{ profile_form.email|as_crispy_field }}
      </div>

      <div class="col-6">
        {{ profile_form.description_perso|as_crispy_field }}
      </div>
    <a href="/home"><button type="submit" name="noteForm" class="btn btn-outline-success"> Submit </button></a>
  </form>
{% endblock %}
