{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
    <div class="card">

        <article class="card-body">
            <a>add a Comment</a>
            <form method="post">
                <label for="input-1" class="col-sm control-label">Content</label>
                {{ form.title|as_crispy_field }}
            </form>
        </article>
<!--
        <div class="card">
            <article class="card-body">
                <a> COMMENT</a>
                {% if comments != None %}
                    {% for com in comments %}
                        <a>{{ com.content }}</a>
                    {% endfor %}
                {% endif %}
            </article>
        </div>
-->
    </div>

{% endblock %}