{% extends 'base.html' %}

{% block content %}

    <div class="page-holder bg-cover"
         style="background: url('../static/img/environmental-protection-326923_1920.jpg');">
    {% if msgError != None %}
        {{ msgError }}
        {% endif %}
        {{ msgError }}
        <div class="col-md-8 offset-md-2">
            <h1 class="body-title">Make Our Planet Green Again !</h1>
            <h3 class="body-text mt-3" style="font-weight: bold;">MOPGA is a platform aiming at advertising and financing
                local
                ecological projects.</h3>
            <h3 class="body-text mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.</h3>
        </div>
    </div>

    <style>
        .page-holder {
            min-height: 100vh;
        }

        .bg-cover {
            background-size: cover !important;
        }

        .body-title {
            text-align: center;
            color: #fbfcfc;
            font-weight: bolder;
            font-size: 30;
        }

        .body-text {
            text-align: center;
            color: #fbfcfc;
            font-size: 20;
        }
    </style>
{% endblock content %}