{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} New project {% endblock %}

{% block content %}

    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Create a new project</h4>
                </header>
                <article class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-9">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.donationGoal|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.deadline|as_crispy_field }}
                        {{ form.description|as_crispy_field }}
                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </form>
                </article>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->

{% endblock %}