{% extends 'base.html' %}

{% block title %} Profile {{ profil.id }} {% endblock %}

{% block content %}
      <h4> Pseudo : {{ profil.username }}</h4>
      <p>Karma : {{ profil.karma }}</p>
      {% if profil.first_name|length >= 1 %}
        <p>Prenom : {{ profil.first_name }}</p>
      {% endif %}
      {% if profil.last_name|length > 0  %}
        <p>Nom : {{ profil.last_name }}</p>
      {% endif %}
      <p>Mail : {{ profil.email }}</p>
      <p>Date d'arrivée : {{ profil.date_joined }}</p>
      {% if profil.description_perso|length > 0 %}
        <p>Desciption : {{ profil.description_perso }}</p>
      {% endif %}
{% endblock %}
