<a href="{% url 'Project' projectId=proj.id %}" style="color:#000000; text-decoration: none;">
  <div class="card mb-3 bg-warning">
    <img src="http://placekitten.com/300/200" class="card-img-top" alt="project image">
    <div class="card-body" >
      <h5 class="card-title text-uppercase">
        {% if notNewDate %}
          {% if proj.post_date > notNewDate %}
            <span class="badge badge-danger" style="margin-right:10px">new</span>
          {% endif %}
        {% endif %}
        {{ proj.title }}
      </h5>
      <hr class="my-4">
      <p class="card-text">{{ proj.short_description }}</p>
      <p class="card-text"><small class="text-muted">Posted by {{ proj.annoncer.username }} on {{ proj.post_date }}</small></p>
    </div>
  </div>
</a>
