{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Project {{ projectId }} {% endblock %}

{% block content %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            {% if project == None %}
                <h1>Project not found</h1>
            {% else %}
                {% include 'info_project.html' with project=project %}
                <article class="card-body">
                    <a>ADD A COMMENT</a>

                    <form method="post">
                        {% csrf_token %}

                        {{ form.content|as_crispy_field }}
                        <button type="submit" name="commentForm" class="btn btn-outline-success"> Submit</button>
                    </form>

                </article>
                <div class="card">
                    <article class="card-body">
                        <a> COMMENT</a>
                        {% if comments != None %}
                            <a>A</a>
                            {% for com in comments %}
                                <a>{{ com.content }}</a>
                            {% endfor %}
                        {% endif %}
                    </article>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
