{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <nav class="col-md-4 d-none d-md-block sidebar ">
            <div class="card ml-3 mt-3">
                <div class="card-header">
                    <h4 class="card-title" style="text-align: center">Search a project</h4>
                </div>
                <div class="card-body">
                    <div class="sidebar-sticky">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Title</label>
                                {{ form.title }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Minimum rate</label>
                                <div class="col-sm ratingmin">
                                    <input type="radio" name="ratingmin" value="5" id="min5">
                                    <label for="min5">☆</label>
                                    <input type="radio" name="ratingmin" value="4" id="min4">
                                    <label for="min4">☆</label>
                                    <input type="radio" name="ratingmin" value="3" id="min3">
                                    <label for="min3">☆</label>
                                    <input type="radio" name="ratingmin" value="2" id="min2">
                                    <label for="min2">☆</label>
                                    <input type="radio" name="ratingmin" value="1" id="min1">
                                    <label for="min1">☆</label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Maximum rate</label>
                                <div class="col-sm ratingmax">
                                    <input type="radio" name="ratingmax" value="5" id="max5">
                                    <label for="max5">☆</label>
                                    <input type="radio" name="ratingmax" value="4" id="max4">
                                    <label for="max4">☆</label>
                                    <input type="radio" name="ratingmax" value="3" id="max3">
                                    <label for="max3">☆</label>
                                    <input type="radio" name="ratingmax" value="2" id="max2">
                                    <label for="max2">☆</label>
                                    <input type="radio" name="ratingmax" value="1" id="max1">
                                    <label for="max1">☆</label>
                                </div>
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Percentage funded minimum</label>
                                {{ form.donationRateMin }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Percentage funded maximum</label>
                                {{ form.donationRateMax }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Donnation goal minimum</label>
                                {{ form.donationGoalMin }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Donnation goal maximum</label>
                                {{ form.donationGoalMax }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Maker karma minimum</label>
                                {{ form.makerKarmaMin }}
                            </div>
                            <div class="row">
                                <label for="input-1" class="col-sm control-label">Maker karma maximum</label>
                                {{ form.makerKarmaMax }}
                            </div>
                            <button type="submit" class="btn btn-outline-success">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="col-md-8">
            <div class="card mr-3 mt-3">
                <header class="card-header">
                    <h4 class="card-title mt-2" style="text-align: center">Search results</h4>
                </header>
                <article class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                {% for project in projects %}
                                    {% if forloop.first %}
                                        <a class="list-group-item list-group-item-action active"
                                           style="background-color: #1d8348; border-color: #1d8348" data-toggle="list"
                                           href="#list-{{ project.id }}" role="tab">
                                            {{ project.title }}
                                            <span class="badge badge-primary badge-pill font-weight-bold bg-danger">{{ project.percentageFunded }} %</span>
                                        </a>
                                    {% else %}
                                        <a class="list-group-item list-group-item-action"
                                           style="background-color: #1d8348; border-color: #1d8348" data-toggle="list"
                                           href="#list-{{ project.id }}" role="tab">
                                            {{ project.title }}
                                            <span class="badge badge-primary badge-pill font-weight-bold bg-danger">{{ project.percentageFunded }} %</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="tab-content" id="nav-tabContent">

                                {% for project in projects %}
                                    {% if forloop.first %}
                                        <div class="tab-pane fade show active" id="list-{{ project.id }}"
                                             role="tabpanel"
                                             aria-labelledby="list-home-list">{% include 'info_project.html' with project=project %}
                                        </div>
                                    {% else %}
                                        <div class="tab-pane fade show" id="list-{{ project.id }}" role="tabpanel"
                                             aria-labelledby="list-home-list">{% include 'info_project.html' with project=project %}
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

    <style>
        .ratingmin,
        .ratingmax {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center
        }

        .ratingmin > input,
        .ratingmax > input {
            display: none
        }

        .ratingmin > label,
        .ratingmax > label {
            position: relative;
            width: 1em;
            font-size: 20px;
            color: #1d8348;
            cursor: pointer
        }

        .ratingmin > label::before,
        .ratingmax > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .ratingmin > label:hover:before,
        .ratingmax > label:hover:before,
        .ratingmin > label:hover ~ label:before,
        .ratingmax > label:hover ~ label:before {
            opacity: 1 !important
        }

        .ratingmin > input:checked ~ label:before,
        .ratingmax > input:checked ~ label:before {
            opacity: 1
        }

        .ratingmin:hover > input:checked ~ label:before,
        .ratingmax:hover > input:checked ~ label:before {
            opacity: 0.4
        }

    </style>
{% endblock %}